* {
	box-sizing: border-box;
}
html {
	min-height: 100%;
	position: relative;
}

body {
	margin: 0;
	height: 100%;
	background-color: #1b262c;
}
.header {
	margin: 0;
	background-color: #1b262c;
	display: flex;
	position: relative;
	width: 100%;
	align-items: center;
	align-content: space-around;
}
#logo {
	height: 70px;
	border-radius: 50%;
}
.header h1 {
	font-family: "Montserrat", sans-serif;
	font-size: 31pt;
	color: #FFFFFF;
	display: inline-flex;
	justify-content: flex-start;
	padding-left: 5px;
	font-weight: 500;
}

.header strong {
	font-family: "Montserrat", sans-serif;
	font-size: 31pt;
	color: #FFFFFF;
	display: inline-flex;
	justify-content: flex-start;
	padding-left: 5px;
}

.header h1 strong {
	font-weight: 700;
}
.header a {
	text-decoration: none;
	color: white;
	font-family: "Montserrat", sans-serif;
}
.navigation ul {
	align-items: center;
}
.navigation {
	flex-grow: 2;
	justify-content: center;
}
/*.navigation #active {*/
/*	margin: 0 20px;*/
/*}*/
.inactive {
	filter: blur(2px);
}
.inactive:hover {
	filter: blur(0px);
	transition-duration: 0.3s;
}
.navigation {
	display: inline-flex;
	align-items: center;
	padding: 10px;
	flex-wrap: wrap;
}

.navigation ul {
	display: inline-flex;
	align-items: center;
	padding: 10px;
	flex-wrap: wrap;
}
.navigation li {
	display: inline-flex;
	align-items: center;
	padding: 10px;
	flex-wrap: wrap;
}

.navigation a {
	text-decoration: none;
	color: #FFFFFF;
	font-family: "Open Sans";
	font-size: 35pt;
}
.account {
	display: inline-flex;
	justify-content: flex-end;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.account button {
	background-color: transparent;
	border: 1px solid white;
	color: white;
	padding: 10px 15px;
	font-family: montserrat;
	border-radius: 2px;
	margin: 2px;
	flex-wrap: nowrap;
}
.account button:hover {
	background-color: white;
	transition-duration: 0.2s;
}
.account button:hover a {
	color: #1b262c;
	transition-duration: 0.2s;
}
.account a {
	color: #FFF;
	text-decoration: none;
}
@media screen and (max-width: 1033px){
	.header {
		flex-direction: column;
	}
}
@media screen and (max-width: 630px){
	.navigation ul {
		flex-direction: row;
		justify-content: center;
	}
	.navigation #active {
		margin: 15px 0;
	}
}

@media screen and (max-width: 800px){
	.navigation a {
    	font-size: 25px;
	}
	.navigation {
    padding: 10px 0;
    padding-bottom: 0;
}
}

.profile {
	display: inline-flex;
	align-items: center;
	font-family: montserrat;
}

.profile-image img {
	margin-left: 5px;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	object-fit: cover;
	vertical-align: middle;
}

.header a {
	text-decoration: none;
}

.header a:hover {
	text-decoration: none;
}

.successMessage {
	background-color: #25973c;
	width: 100%;
	height: 6vh;
	border-radius: 10px;
	color: white;
	font-family: "Open Sans";
	font-size: 15pt;
	text-align: center;
	/*position: absolute;*/
	/*top: 0;*/
}

.successMessage h3 {
	padding-top: 1%;
	font-family: 'Raleway', sans-serif;
}

.footer {
	width: 45%;
	margin: auto;
	text-align: center;
	margin-top: 2%;
}

.footer a {
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 11pt;
	text-decoration: none;
	padding: 5%;
}

.footer-distributed {
  background-color: #1B262C;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  padding: 45px 50px;
	bottom: 0;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}

.loader {
  border: 4px solid #FFFFFF; /* Light grey */
  border-top: 4px solid #b5b5b5; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
	margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

