* {
    box-sizing: border-box;
}

body {
    background-color: #1b262c;
    /*display: flex;*/
}

.grid {
    /* Grid Fallback */
    /*display: inline-block;*/
    flex-wrap: wrap;
    padding: 0;
    position: relative;
    /*float: right;*/
    width: 90%;
    overflow: auto;
    /* Supports Grid */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 7px;
    margin: 5vh 2.5vw;
    justify-content: center;
    padding-top: 52px;
}


.grid-makable {
    padding-top: 50px !important;
}

.grid-makable a {
    height: 300px;
}

.grid a {
    height: 300px;
}

.grid-makable {
    /* Grid Fallback */
    display: inline-block;
    flex-wrap: wrap;
    padding: 0;
    position: relative;
    float: right;
    overflow: auto;
    /* Supports Grid */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 7px;
}


.module {
    /* Demo-Specific Styles */
    background: black;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    /* Flex Fallback */
    margin-left: 5px;
    margin-right: 5px;
    flex: 1 1 300px;
    border-radius: 2px;
    object-fit: contain;
    overflow: hidden;
    width: 100%;
}

/* If Grid is supported, remove the margin we set for the fallback */
@supports (display: grid) {
    .module {
        margin: 0;
    }
}

.module img {
    width: 100%;
}

.container-grid {
    position: relative;
    width: 100%;
}

.overlay {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .3s ease;
    background-color: #564D4D;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.overlay h1 {
    color: white;
    font-family: "nunito sans";
    font-weight: bold;
    font-size: 20pt;
    text-align: center;
}

.overlay p {
    font-family: "nunito sans";
    text-align: center;
    padding: 5px;
    padding-top: 10px;
    color: white;
}

.overlay span {
    font-family: "nunito sans";
    text-align: center;
    padding: 5px;
    padding-top: 5px;
    color: white;
}

.module:hover .overlay {
    opacity: .75;
}

.module:hover img {
    filter: blur(3px);

}

.sort-bar {
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: white;
    display: inline-flex;
    align-items: center;
    overflow-x: hidden;
    padding-right: 0;
    border-radius: 2px;
    padding: 10px 20px;
    font-family: "Montserrat", sans-serif;

}

.sort-bar select {
    margin-left: 1%;
}

.sort-bar button {
    margin-left: 10px;
    padding: 5px;
    border: none;
    background: none;
}

.sort-bar i {
    margin-right: 5px;
}

.sort-bar button:hover {
    border-radius: 2px;
    background-color: #B5B5B5;
    cursor: pointer;
    transition-duration: 0.2s;
}