.privacy-container p {
	font-family: "Open Sans", sans-serif;
	line-height: 30px;
}

.privacy-container strong {
	font-family: Montserrat,sans-serif;
    font-size: 15pt;
    font-weight: bold;
    padding: 20px 0;
    line-height: 50px;
}

.privacy-container li {
	font-family: "Open Sans", sans-serif; 
	line-height: 30px;
}

body {
	background-color: #1B262C;
	display: flex;
	justify-content: center;
	flex-direction: column;
	
}

.privacy-container {
	background-color: white;
	padding: 30px;
	margin: 1%;
	border-radius: 1px;
}

.privacy-container h1 {
    font-family: Montserrat,sans-serif;
    margin-top: 0;
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 20px;
}

.privacy-container ul {
	list-style: disc;
    margin-left: 50px;
}