{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script data-ad-client="ca-pub-1604942099557430" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <link rel="stylesheet" href="{% static 'reset.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'base.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Hind+Siliguri&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    <link href="{% static 'img/diyhub__2__UHr_icon.ico' %}" rel="icon" type="image/x-icon" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:700, 400|Montserrat:400, 700|Nunito+Sans:800, 400&display=swap" rel="stylesheet">
    {% if account %}
        <meta name="userID" content="{{ account.id }}">
    {% endif %}
    {% block header %}
    {% endblock %}
</head>
<body>

{% if message %}
        <div style="background-color: {{ message.color }}" class="successMessage"><h3 >{{ message.text }}</h3></div>
    {% endif %}
    <script type="text/javascript">
        {% if message %}
            $(document).ready(function () {
                setTimeout(function () {
                    $(".successMessage").fadeOut(500);
                }, 5000);
            });

        {% endif %}
    </script>

<div class="header">
	<div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
	</div>
<img id="logo" src="{% static 'img/DiyHub (2).png' %}" alt="Logo">
  <a href="{% url 'index' %}"><h1>diy<strong>hub.io</strong></h1> beta</a>

		<nav class="navigation">
  <ul>
    <li><a href="{% url 'index' %}"><span id="search" class="inactive">Search</span></a></li>
    <li><a href="{% url 'createProject' %}"><span id="create" class="inactive">Create</span></a></li>
    <li><a href="{% url 'discovery' %}" ><span id="discover" class="inactive">Discover</span></a></li>
  </ul>
	</nav>
    <script>
        {% if page %}
            $(document).ready(function () {
                $("#{{ page }}").addClass("active").removeClass("inactive");
            });
        {% endif %}
    </script>
	<div class="account">
        {% if account %}
            <a href="{% url 'profile' %}">
            <div class="profile">
                {{ account.name }}
                <div class="profile-image">
                    {% if account.img %}
                        <img id="profileImg" src="{% static '' %}{{ account.img }}" alt="Profile Picture">
                    {% else %}
                        <img id="profileImg" src="{% static 'img/img_avatar.png' %}">
                    {% endif %}
                </div>
            </div>
            </a>
            <button id="log-out"><a href="{% url 'logout' %}">Log Out</a></button>
        {% else %}
            <button id="log-in"><a href="{% url 'loginAndRegister' %}">Log In</a></button>
		    <button id="sign-up"><a href="{% url 'loginAndRegister' %}/signup">Sign Up</a></button>
        {% endif %}
	</div>
</div>
	{% block content %}

    {% endblock %}
    <footer class="footer-distributed">

            <div class="footer-right">

                <a href="https://www.facebook.com/Diyhubio-103009288142495/"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/diyhubofficial"><i class="fa fa-twitter"></i></a>
                <a href="https://www.instagram.com/diyhub.io/"><i class="fa fa-instagram"></i></a>
                <a href="https://github.com/benthestudent/DIYHub"><i class="fa fa-github"></i></a>

            </div>

            <div class="footer-left">

                <p class="footer-links">
                    <a class="link-1" href="{% url 'index' %}">Search</a>

                    <a href="{% url 'discovery' %}">Discover</a>

                    <a href="{% url 'createProject' %}">Create</a>

                    <a href="{% url 'about' %}">About</a>

                    <a href="{% url 'contact' %}">Contact</a>
					
					<a href="{% url 'privacyPolicy' %}">Privacy Policy</a>
                </p>

                <p>diyhub.io &copy; 2020</p>
            </div>

        </footer>
</body>
</html>