{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'reset.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'base.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Hind+Siliguri&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/project.js' %}"></script>
<link href="{% static 'img/diyhub__2__UHr_icon.ico' %}" rel="icon" type="image/x-icon" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:700, 400|Montserrat:400, 700|Nunito+Sans:800, 400&display=swap" rel="stylesheet">
    {% block header %}
    {% endblock %}
</head>
<body>

{% if message %}
        <div class="successMessage"><h3>{{ message }}</h3></div>
    {% endif %}
    <script type="text/javascript">
        {% if message %}
            $(document).ready(function () {
                setTimeout(function () {
                    $(".successMessage").fadeOut(500);
                }, 5000);
            });

        {% endif %}
    </script>

<div class="header">
<img id="logo" src="{% static 'img/DiyHub (2).png' %}" alt="Logo">
  <a href="{% url 'index' %}"><h1>diy<strong>hub.io</strong></h1></a>

		<nav class="navigation">
  <ul>
    <li><a href="{% url 'index' %}"><span id="search" class="inactive">Search</span></a></li>
    <li><a href="{% url 'createProject' %}"><span id="create" class="inactive">Create</span></a></li>
    <li><a href="{% url 'discovery' %}" ><span id="discover" class="inactive">Discover</span></a></li>
  </ul>
	</nav>
    <script>
        {% if page %}
            $(document).ready(function () {
                $("#{{ page }}").addClass("active").removeClass("inactive");
            });
        {% endif %}
    </script>
	<div class="account">
        {% if account %}
            <a href="{% url 'profile' %}">
            <div class="profile">
                {{ account }}
                <div class="profile-image">
                    <img src="{% static 'img/img_avatar.png' %}" alt="Profile Picture">
                </div>
            </div>
            </a>
            <button id="log-out"><a href="{% url 'logout' %}">Log Out</a></button>
        {% else %}
            <button id="log-in"><a href="{% url 'loginAndRegister' %}">Log In</a></button>
		    <button id="sign-up"><a href="{% url 'loginAndRegister' %}/signup">Sign Up</a></button>
        {% endif %}
	</div>
</div>
	{% block content %}

    {% endblock %}
    <footer class="footer-distributed">

            <div class="footer-right">

                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>

            </div>

            <div class="footer-left">

                <p class="footer-links">
                    <a class="link-1" href="#">Search</a>

                    <a href="#">Discover</a>

                    <a href="#">Create</a>

                    <a href="#">About</a>

                    <a href="#">Contact</a>
                </p>

                <p>diyhub.io &copy; 2020</p>
            </div>

        </footer>
</body>
</html>