{% extends 'hub/base.html' %}
{% load static %}
{% block header %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'info.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Inria+Serif|Montserrat|Playfair+Display|Raleway&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700, 400|Montserrat:400, 700|Nunito+Sans:800, 400&display=swap" rel="stylesheet">
    <title>Contact Us</title>
{% endblock %}
{% block content %}
    <div class="info-container">
        <div class="container">
          <form action="" method="post">

            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name..">

            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name..">

            <label for="country">Country</label>
            <select id="country" name="country">
                <option value="usa">USA</option>
              <option value="australia">Australia</option>
              <option value="canada">Canada</option>
            </select>

            <label for="subject">Subject</label>
            <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
            <div class="submit-container">
              <button>Submit</button>
            </div>
              {% csrf_token %}
          </form>
        </div>
    </div>
{% endblock %}