<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>discovery</title>
<link href="../Static/reset.css" rel="stylesheet" type="text/css">
<link href="../Static/discovery.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:700, 400|Montserrat:400, 700|Nunito+Sans:800, 400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	
	<div class="grid">
  <div class="sort-bar">
		<i class="fa fa-filter" style="margin-left: 10px;"></i>
	  <button><i class="fa fa-heart"></i><i class="fa fa-sort"></i></button>
	  <button><i class="fa fa-eye"></i><i class="fa fa-sort"></i></button>
		</div>
  <div class="module">
	  <div class="container-grid">
	  <img src="../Static/ProjectImage.png" alt="ProjectImage">
	  <div class="overlay" style="background-color: #FE2F2F">
		  <h1>Header</h1>
		  <p>This is a project description. This paragraph tag will display what the project is about.</p>
		  </div>
	  </div>
		</div>
  <div class="module">
	  <div class="container-grid">
	  <img src="../Static/stepImage.png" alt="ProjectImage">
	  <div class="overlay" style="background-color: #FE7F2F">
		  <h1>Header</h1>
		  <p>This is a project description. This paragraph tag will display what the project is about.</p>
		  </div>
		</div>
		  </div>
  <div class="module">
	  <div class="container-grid">
	  <img src="../Static/ProjectImage.png" alt="ProjectImage">
	  <div class="overlay" style="background-color: #969600">
		  <h1>Header</h1>
		  <p>This is a project description. This paragraph tag will display what the project is about.</p>
		  </div>
		</div>
		  </div>
  <div class="module">
	  <div class="container-grid">
	  <img src="../Static/ProjectImage.png" alt="ProjectImage">
	  <div class="overlay" style="background-color: #0AC000">
		  <h1>Header</h1>
		  <p>This is a project description. This paragraph tag will display what the project is about.</p>
		  </div>
		</div>
		  </div>
  <div class="module">
	  <div class="container-grid">
	  <img src="../Static/ProjectImage.png" alt="ProjectImage">
	  <div class="overlay" style="background-color: #006E14">
		  <h1>Header</h1>
		  <p>This is a project description. This paragraph tag will display what the project is about.</p>
		  </div>
		</div>
		  </div>
  <div class="module">
	  <div class="container-grid">
	  <img src="../Static/ProjectImage.png" alt="ProjectImage">
	  <div class="overlay"  style="">
		  <h1>Header</h1>
		  <p>This is a project description. This paragraph tag will display what the project is about.</p>
		  </div>
		</div>
		  </div>
  <div class="module">
	  <div class="container-grid">
	  <img src="../Static/ProjectImage.png" alt="ProjectImage">
	  <div class="overlay"  style="">
		  <h1>Header</h1>
		  <p>This is a project description. This paragraph tag will display what the project is about.</p>
		  </div>
		</div>
		  </div>
  <div class="module">
	  <div class="container-grid">
	  <img src="../Static/ProjectImage.png" alt="ProjectImage">
	  <div class="overlay"  style="">
		  <h1>Header</h1>
		  <p>This is a project description. This paragraph tag will display what the project is about.</p>
		  </div>
		</div>
		  </div>
  <div class="module">
	  <div class="container-grid">
	  <img src="../Static/ProjectImage.png" alt="ProjectImage">
	  <div class="overlay"  style="">
		  <h1>Header</h1>
		  <p>This is a project description. This paragraph tag will display what the project is about.</p>
		  </div>
		</div>
		  </div>
  <div class="module">
	  <div class="container-grid">
	  <img src="../Static/ProjectImage.png" alt="ProjectImage">
	  <div class="overlay"  style="">
		  <h1>Header</h1>
		  <p>This is a project description. This paragraph tag will display what the project is about.</p>
		  </div>
		</div>
		  </div>
  <div class="module">
	  <div class="container-grid">
	  <img src="../Static/ProjectImage.png" alt="ProjectImage">
	  <div class="overlay"  style="">
		  <h1>Header</h1>
		  <p>This is a project description. This paragraph tag will display what the project is about.</p>
		  </div>
		</div>
		  </div>
  <div class="module">
	  <div class="container-grid">
	  <img src="../Static/ProjectImage.png" alt="ProjectImage">
	  <div class="overlay"  style="">
		  <h1>Header</h1>
		  <p>This is a project description. This paragraph tag will display what the project is about.</p>
		  </div>
		</div>
		  </div>
  <div class="module">
	  <div class="container-grid">
	  <img src="../Static/ProjectImage.png" alt="ProjectImage">
	  <div class="overlay"  style="">
		  <h1>Header</h1>
		  <p>This is a project description. This paragraph tag will display what the project is about.</p>
		  </div>
		</div>
		  </div>
  <div class="module">
	  <div class="container-grid">
	  <img src="../Static/ProjectImage.png" alt="ProjectImage">
	  <div class="overlay"  style="">
		  <h1>Header</h1>
		  <p>This is a project description. This paragraph tag will display what the project is about.</p>
		  </div>
		</div>
		  </div>
  <div class="module">
	  <div class="container-grid">
	  <img src="../Static/ProjectImage.png" alt="ProjectImage">
	  <div class="overlay"  style="">
		  <h1>Header</h1>
		  <p>This is a project description. This paragraph tag will display what the project is about.</p>
		  </div>
		</div>
		  </div>
</div>
	
	
	
	
</body>
</html>
