{% extends 'hub/base.html' %}
{% load static %}
{% block header %}
    <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700, 400|Montserrat:400, 700|Nunito+Sans:800, 400&display=swap" rel="stylesheet">
    <title>DIY Hub</title>
{% endblock %}
{% block content %}
    <div class="selector">
	  <h2>Select Parts:</h2>
		 
        <form action="/components.html">
			<input type="text" id="searchbar" placeholder="Search for parts..">
			<div class="items-container">
                {% for category in categories %}
                    <div class="category">
                        <label class="category-label"><input class="toggle" type="checkbox">{{ category.name }} <i class="fa fa-caret-down"></i></label>
                        <div class="partContainer expand">
                            <ul>
                                {% for part in category.parts %}
                                <li>
                                    <label class="container">{{ part.name }}<input type="checkbox" name="">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
				    </div>
                {% endfor %}
			</div>
      </form>
</div>
	
	
	


  {% if projects %}
      <div class="grid">
{#      <div class="sort-bar">#}
{#		<i class="fa fa-filter"></i>#}
{#	    <button id="likedSort"><i class="fa fa-heart"></i><i class="fa fa-sort"></i></button>#}
{#	    <button id="popularSort"><i class="fa fa-eye"></i><i class="fa fa-sort"></i></button>#}
{#        Results per Page: <select id="resultsPerPage" name="resultsPerPage">#}
{#          <option value="1">1</option>#}
{#            <option value="10">10</option>#}
{#            <option value="25">25</option>#}
{#            <option value="50">50</option>#}
{#            <option value="100">100</option>#}
{#        </select>#}
{#      </div>#}
  {% for project in projects %}
      {% if "https" in project.url %}
          <a href="{{ project.url }}">
      {% else %}
        <a href="/dev/project/{{ project.url }}">
      {% endif %}

      <div class="module">
	  <div class="container-grid">
          <img src="{% static '' %}{{ project.imgPath }}" alt="ProjectImage" onerror="this.onerror=null;this.src='{% static 'img/ProjectImage.png' %}';">
          {% if project.difficulty %}
              {% if project.difficulty == 1 %}
                <div class="overlay" style="background-color: #14aa30">
              {% elif project.difficulty == 2 %}
                <div class="overlay" style="background-color: #43d540">
              {% elif project.difficulty == 3 %}
                <div class="overlay" style="background-color: #b8b82e">
              {% elif project.difficulty == 4 %}
                <div class="overlay" style="background-color: #FE7F2F">
              {% elif project.difficulty == 5 %}
                  <div class="overlay" style="background-color: #FE2F2F">
              {% endif %}
          {% else %}
              <div class="overlay">
          {% endif %}
              <h1>{{ project.name }}</h1>
              <p>{{ project.shortDesc | safe }}</p>
                <span>{{ project.views }} <i class="fa fa-eye"></i> <span id="projectUpvoteCounter">{{ project.upvotes }}</span> <i class="fa fa-thumbs-up"></i></span>
          </div>
	  </div>
    </div>
      </a>
  {% endfor %}
      </div>
    {% endif %}

	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script>
	(function($){
  $("#searchbar").on('keyup', function(e) {
    var $this = $(this);
    var exp = new RegExp($this.val(), 'i');
    $(".items-container li label").each(function() {
      var $self = $(this);
      if(!exp.test($self.text())) {
        if($self.find("input")[0].checked){
            $self.parent().show();
        }else {
            $self.parent().hide();
        }

        //$self.parent().parent().parent().removeClass("expand").addClass("notExpanded");

      } else {
          //$self.parent().parent().parent().removeClass("notExpanded").addClass("expand");
        $self.parent().show();
        //add part to array which will be sent to "/getProjects"
      }
    });
  });
})(jQuery);
	</script>
{% endblock %}
