<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Do Not Sell My Information</title>
<link href="../../static/doNotSellMyInformation.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:700, 400|Montserrat:400, 700|Nunito+Sans:800, 400&display=swap" rel="stylesheet">
</head>

<body>
	<div class="form-container">
	<form>
		<h1>Do Not Sell Request</h1>
		<p>Please provide the information below so we can complete your request.</p>
		<input type="email" id="email" placeholder="Email Address">
		<input type="submit" class="submit">
		</form>
	</div>
</body>
</html>
