{% extends 'hub/base.html' %}
{% load static %}
{% block header %}
<title>Forgot Password</title>
<link href="{% static 'forgotPassword.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}

<div class="forgot-password">
  <div class="form">
	  <i class="fa fa-lock fa-4x"></i>
    <form class="login-form">
		<h1>Forgot Password?</h1>
		<p>Reset it here:</p>
      <input type="text" name="email" placeholder="email address"/>
      <button>reset password</button>
    </form>
  </div>
</div>

{% endblock %}