<!DOCTYPE html>
<html>

<head>
    <script data-ad-client="ca-pub-1604942099557430" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <link rel="stylesheet" href="../../static/reset.css" type="text/css">
    <link rel="stylesheet" href="../../static/base.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Hind+Siliguri&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../static/js/script.js"></script>
    <link href="/static/img/diyhub__2__UHr_icon.ico" rel="icon" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700, 400|Montserrat:400, 700|Nunito+Sans:800, 400&display=swap" rel="stylesheet">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700, 400|Montserrat:400, 700|Nunito+Sans:800, 400&display=swap" rel="stylesheet">
    <title>DIY Hub</title>

</head>

<body>  
	
<div class="loader-wrapper">
    <span class="loader-square"><span class="loader-inner"></span></span>
</div>

    <script type="text/javascript"></script>

    <div class="header">
        <script data-pagespeed-no-defer>
            //<![CDATA[
            (function() {
                for (var g = "function" == typeof Object.defineProperties ? Object.defineProperty : function(b, c, a) {
                        if (a.get || a.set) throw new TypeError("ES3 does not support getters and setters.");
                        b != Array.prototype && b != Object.prototype && (b[c] = a.value)
                    }, h = "undefined" != typeof window && window === this ? this : "undefined" != typeof global && null != global ? global : this, k = ["String", "prototype", "repeat"], l = 0; l < k.length - 1; l++) {
                    var m = k[l];
                    m in h || (h[m] = {});
                    h = h[m]
                }
                var n = k[k.length - 1],
                    p = h[n],
                    q = p ? p : function(b) {
                        var c;
                        if (null == this) throw new TypeError("The 'this' value for String.prototype.repeat must not be null or undefined");
                        c = this + "";
                        if (0 > b || 1342177279 < b) throw new RangeError("Invalid count value");
                        b |= 0;
                        for (var a = ""; b;)
                            if (b & 1 && (a += c), b >>>= 1) c += c;
                        return a
                    };
                q != p && null != q && g(h, n, {
                    configurable: !0,
                    writable: !0,
                    value: q
                });
                var t = this;

                function u(b, c) {
                    var a = b.split("."),
                        d = t;
                    a[0] in d || !d.execScript || d.execScript("var " + a[0]);
                    for (var e; a.length && (e = a.shift());) a.length || void 0 === c ? d[e] ? d = d[e] : d = d[e] = {} : d[e] = c
                };

                function v(b) {
                    var c = b.length;
                    if (0 < c) {
                        for (var a = Array(c), d = 0; d < c; d++) a[d] = b[d];
                        return a
                    }
                    return []
                };

                function w(b) {
                    var c = window;
                    if (c.addEventListener) c.addEventListener("load", b, !1);
                    else if (c.attachEvent) c.attachEvent("onload", b);
                    else {
                        var a = c.onload;
                        c.onload = function() {
                            b.call(this);
                            a && a.call(this)
                        }
                    }
                };
                var x;

                function y(b, c, a, d, e) {
                    this.h = b;
                    this.j = c;
                    this.l = a;
                    this.f = e;
                    this.g = {
                        height: window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight,
                        width: window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth
                    };
                    this.i = d;
                    this.b = {};
                    this.a = [];
                    this.c = {}
                }

                function z(b, c) {
                    var a, d, e = c.getAttribute("data-pagespeed-url-hash");
                    if (a = e && !(e in b.c))
                        if (0 >= c.offsetWidth && 0 >= c.offsetHeight) a = !1;
                        else {
                            d = c.getBoundingClientRect();
                            var f = document.body;
                            a = d.top + ("pageYOffset" in window ? window.pageYOffset : (document.documentElement || f.parentNode || f).scrollTop);
                            d = d.left + ("pageXOffset" in window ? window.pageXOffset : (document.documentElement || f.parentNode || f).scrollLeft);
                            f = a.toString() + "," + d;
                            b.b.hasOwnProperty(f) ? a = !1 : (b.b[f] = !0, a = a <= b.g.height && d <= b.g.width)
                        } a && (b.a.push(e), b.c[e] = !0)
                }
                y.prototype.checkImageForCriticality = function(b) {
                    b.getBoundingClientRect && z(this, b)
                };
                u("pagespeed.CriticalImages.checkImageForCriticality", function(b) {
                    x.checkImageForCriticality(b)
                });
                u("pagespeed.CriticalImages.checkCriticalImages", function() {
                    A(x)
                });

                function A(b) {
                    b.b = {};
                    for (var c = ["IMG", "INPUT"], a = [], d = 0; d < c.length; ++d) a = a.concat(v(document.getElementsByTagName(c[d])));
                    if (a.length && a[0].getBoundingClientRect) {
                        for (d = 0; c = a[d]; ++d) z(b, c);
                        a = "oh=" + b.l;
                        b.f && (a += "&n=" + b.f);
                        if (c = !!b.a.length)
                            for (a += "&ci=" + encodeURIComponent(b.a[0]), d = 1; d < b.a.length; ++d) {
                                var e = "," + encodeURIComponent(b.a[d]);
                                131072 >= a.length + e.length && (a += e)
                            }
                        b.i && (e = "&rd=" + encodeURIComponent(JSON.stringify(B())), 131072 >= a.length + e.length && (a += e), c = !0);
                        C = a;
                        if (c) {
                            d = b.h;
                            b = b.j;
                            var f;
                            if (window.XMLHttpRequest) f = new XMLHttpRequest;
                            else if (window.ActiveXObject) try {
                                f = new ActiveXObject("Msxml2.XMLHTTP")
                            } catch (r) {
                                try {
                                    f = new ActiveXObject("Microsoft.XMLHTTP")
                                } catch (D) {}
                            }
                            f && (f.open("POST", d + (-1 == d.indexOf("?") ? "?" : "&") + "url=" + encodeURIComponent(b)), f.setRequestHeader("Content-Type", "application/x-www-form-urlencoded"), f.send(a))
                        }
                    }
                }

                function B() {
                    var b = {},
                        c;
                    c = document.getElementsByTagName("IMG");
                    if (!c.length) return {};
                    var a = c[0];
                    if (!("naturalWidth" in a && "naturalHeight" in a)) return {};
                    for (var d = 0; a = c[d]; ++d) {
                        var e = a.getAttribute("data-pagespeed-url-hash");
                        e && (!(e in b) && 0 < a.width && 0 < a.height && 0 < a.naturalWidth && 0 < a.naturalHeight || e in b && a.width >= b[e].o && a.height >= b[e].m) && (b[e] = {
                            rw: a.width,
                            rh: a.height,
                            ow: a.naturalWidth,
                            oh: a.naturalHeight
                        })
                    }
                    return b
                }
                var C = "";
                u("pagespeed.CriticalImages.getBeaconData", function() {
                    return C
                });
                u("pagespeed.CriticalImages.Run", function(b, c, a, d, e, f) {
                    var r = new y(b, c, a, e, f);
                    x = r;
                    d && w(function() {
                        window.setTimeout(function() {
                            A(r)
                        }, 0)
                    })
                });
            })();
            pagespeed.CriticalImages.Run('/mod_pagespeed_beacon', 'http://diyhub.io/dev', '8Xxa2XQLv9', true, false, 'hGFW81PEzhE');
            //]]>

        </script><img id="logo" src="../../static/img/DiyHub (2).png" alt="Logo" data-pagespeed-url-hash="2903906503" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
        <a href="/dev">
            <h1>diy<strong>hub.io</strong></h1> beta
        </a>

        <nav class="navigation">
            <ul>
                <li><a href="/dev"><span id="search" class="inactive">Search</span></a></li>
                <li><a href="/dev/create"><span id="create" class="inactive">Create</span></a></li>
                <li><a href="/dev/discovery"><span id="discover" class="inactive">Discover</span></a></li>
            </ul>
        </nav>
        <script>
            $(document).ready(function() {
                $("#search").addClass("active").removeClass("inactive");
            });

        </script>
        <div class="account">

            <a href="/dev/profile">
                <div class="profile">
                    elijahl123
                    <div class="profile-image">
                        <img src="../../static/img/img_avatar.png" alt="Profile Picture" data-pagespeed-url-hash="3942780871" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                    </div>
                </div>
            </a>
            <button id="log-out"><a href="/dev/logout">Log Out</a></button>

        </div>
    </div>

    <div class="selector">
        <h2>Select Parts:</h2>

        <form action="/components.html">
            <input type="text" id="searchbar" placeholder="Search for parts..">
            <div class="items-container">

                <div class="category">
                    <label class="category-label"><input class="toggle" type="checkbox">General <i class="fa fa-caret-down"></i></label>
                    <div class="partContainer expand">
                        <ul>

                            <li>
                                <label class="container">diyhub.io creation tool<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">1K Resistor<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">10k Potentiometer<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">100k Potentiometer<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">10uF Capacitor<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">100nF Capacitor<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">10nF Capacitor<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">Tactile Switch<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">555 IC<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">Misc Fabric<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">Lining Fabric<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">Ribbon<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">Raspberry Pi<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">NPN Transistor<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">Toroid Core<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">Copper Wire<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">LED<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">1.5v Battery<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">Perfboard<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">Gauge #18 Wire<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">Electret Microphone<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">¼<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">2N3904 Transistor<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">15pF Trimmer Capacitor<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">100nF Ceramic Capacitor<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">4pF Ceramic Capacitor<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">1M Resistor<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">100k Resistor<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">10k Resistor<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">100 Ohm Resistor<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">Soldering Iron<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">Hot Glue Gun<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">Tongue Depressor<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">Cardstock<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">Gauge #30 Wire<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">Epoxy Resin<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">Silicone Ring Mold<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">Micro SD card<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">Pimoroni Unicorn HAT<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">Raspberry Pi Case<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">Cork Board<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">Stapler or Staple Gun<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">Fabric<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">Metal Thumbtacks<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">10mm Diffused LED<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">3v Lithium Batteries<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">Strapping Tape<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">NdFeB Disc Magnet<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">Conductive Epoxy<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">Poster Board<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">5mm RGB LED<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">Resistor<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">9v Battery<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">Misc Lumber<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">L Shape Metal Brackets<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">Plexiglas<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">Drill<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">Chapstick<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">A23 Battery<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">470 Ohm Resistor<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">10mm LED<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">Heat Shrink Tubing<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">Carriage Bolt Zinc Plated Bolts 307A CYI Steel Industrial Screw<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">Medium Metal Washer<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">Medium Black Metal Washer<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">Small Metal Washer<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">Large Metal Washer<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">T-nut with no hole<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">Small Hex Nut<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">Small Heavy Hardware Ring<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">Tall Brass Hex Nut<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">Metal Connector<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container">Plastic Hook<input type="checkbox" name="">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
        </form>
    </div>




    <div class="grid" style="
    display: flex;
">
        <div class="grid-makable">
            <a href="project/1">
                <div class="module">
                    <div class="container-grid">
                        <img src="../../static/img/logo_blue.png">
                        <div class="overlay" style="background-color: #14aa30">
                            <h1>How to Create a diyhub.io Project</h1>
                            <p></p>
                            <p>Diyhub.io is a search engine for DIY tutorials that allows users to discover projects they can create with the parts they have on hand. In addition... </p>
                        </div>
                    </div>
                </div>
            </a></div>
        <h2 class="divider">Projects you can almost make:</h2>
        <div class="grid-almost-makable" style="
    width: 100%;
    overflow: visible;
"><a href="project/https://maker.pro/pcb/projects/diy-555-synthesizer-circuit-aka-atari-punk-console">
                <div class="module">
                    <div class="container-grid">
                        <img src="http://diyhub.io/static/projects/project_5/project-image.png" alt="ProjectImage">
                        <div class="overlay">
                            <h1>How to Make a 555 Synthesizer Circuit (The Atari Punk Console)</h1>
                            <p></p>
                            <p>Create a funky synth that is based on a popular circuit called a stepped oscillator (aka an Atari Punk Console).</p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </a><a href="project/https://www.electronicsforu.com/electronics-projects/network-storage-raspberry-pi">
                <div class="module">
                    <div class="container-grid">
                        <img src="http://diyhub.io/static/projects/project_7/project-image.png" alt="ProjectImage">
                        <div class="overlay">
                            <h1>Network Storage with Raspberry Pi</h1>
                            <p></p>
                            <p>Presented here is a system which uses two USB hard drives plugged into Raspberry Pi to store data. One of the hard drive stores data directly and t... </p>
                        </div>
                    </div>
                </div>
            </a><a href="project/https://makezine.com/projects/world-wide-boomerang/">
                <div class="module">
                    <div class="container-grid">
                        <img src="http://diyhub.io/static/projects/project_15/project-image.png" alt="ProjectImage">
                        <div class="overlay">
                            <h1>World Wide Boomerang</h1>
                            <p></p>
                            <p>After lots of iterations and some evolutionary dead-ends, we present our World Wide Boomerang. I’ve made it successfully with middle school and hig... </p>
                        </div>
                    </div>
                </div>
            </a><a href="project/https://www.instructables.com/id/How-to-Make-a-Joule-Thief-1/">
                <div class="module">
                    <div class="container-grid">
                        <img src="http://diyhub.io/static/projects/project_8/project-image.png" alt="ProjectImage">
                        <div class="overlay">
                            <h1>How to Make a Joule Thief</h1>
                            <p></p>
                            <p>In this post I will show you how to make a Jouel Thief</p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </a><a href="project/https://makezine.com/projects/make-a-secret-light-up-led-ring/">
                <div class="module">
                    <div class="container-grid">
                        <img src="http://diyhub.io/static/projects/project_16/project-image.png" alt="ProjectImage">
                        <div class="overlay">
                            <h1>Make A Secret Light Up LED Ring</h1>
                            <p></p>
                            <p>This ring contains and LED connected to a wire coil. When the wire coil is properly aligned with an electromagnetic field, the LED will light up. T... </p>
                        </div>
                    </div>
                </div>
            </a><a href="project/https://makezine.com/projects/get-a-flashing-meeting-reminder-with-a-raspberry-pi/">
                <div class="module">
                    <div class="container-grid">
                        <img src="http://diyhub.io/static/projects/project_17/project-image.png" alt="ProjectImage">
                        <div class="overlay">
                            <h1>Get a Flashing Meeting Reminder with a Raspberry Pi</h1>
                            <p></p>
                            <p>I ordered a Unicorn HAT then grabbed a Pi that I had lying around and started writing code. The app for this project is written in Python, and is m... </p>
                        </div>
                    </div>
                </div>
            </a><a href="project/https://www.instructables.com/id/LED-Throwies/">
                <div class="module">
                    <div class="container-grid">
                        <img src="http://diyhub.io/static/projects/project_19/project-image.png" alt="ProjectImage">
                        <div class="overlay">
                            <h1>LED Throwies</h1>
                            <p></p>
                            <p>Developed by the&nbsp;Graffiti Research Lab&nbsp;a division of the&nbsp;Eyebeam R&amp;D OpenLab, LED Throwies are an inexpensive way to add color t... </p>
                        </div>
                    </div>
                </div>
            </a><a href="project/https://www.instructables.com/id/ChapStick-LED-Flashlight/">
                <div class="module">
                    <div class="container-grid">
                        <img src="http://diyhub.io/static/projects/project_21/project-image.png" alt="ProjectImage">
                        <div class="overlay">
                            <h1>ChapStick LED Flashlight</h1>
                            <p></p>
                            <p>This is an instructable on how to make a flashlight out of a ChapStick tube. After reading up on multiple LED instructables I thought it would be n... </p>
                        </div>
                    </div>
                </div>
            </a><a href="project/https://www.instructables.com/id/The-Ultimate-FM-Transmitter/">
                <div class="module">
                    <div class="container-grid">
                        <img src="http://diyhub.io/static/projects/project_14/project-image.png" alt="ProjectImage">
                        <div class="overlay">
                            <h1>The Ultimate FM Transmitter (Long Range Spybug)</h1>
                            <p></p>
                            <p>Have you ever wanted to broadcast your own radio station within your neighborhood? Ever get curious on where people get those "Surveillance Bugs" f... </p>
                        </div>
                    </div>
                </div>
            </a><a href="project/https://www.instructables.com/id/RGB-LED-Mood-lighting/">
                <div class="module">
                    <div class="container-grid">
                        <img src="http://diyhub.io/static/projects/project_20/project-image.png" alt="ProjectImage">
                        <div class="overlay">
                            <h1>RGB LED Mood Lighting</h1>
                            <p></p>
                            <p>Here we have a RGB mood lighting system, this is made to hang on your wall and give you something to zone out on and give the room a nice little gl... </p>
                        </div>
                    </div>
                </div>
            </a><a href="project/https://www.instructables.com/id/Mini-Lightsaber-Out-of-Spare-Parts/">
                <div class="module">
                    <div class="container-grid">
                        <img src="http://diyhub.io/static/projects/project_29/project-image.png" alt="ProjectImage">
                        <div class="overlay">
                            <h1>Mini Lightsaber Out of Spare Parts</h1>
                            <p></p>
                            <p>This projects walks through how to build a homemade Star Wars lightsaber out of parts you have at home!</p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </a><a href="project/18">
                <div class="module">
                    <div class="container-grid">
                        <img src="http://diyhub.io/static/projects/project_18/project-image.png" alt="ProjectImage">
                        <div class="overlay" style="background-color: #43d540">
                            <h1>DIY Photo Board</h1>
                            <p></p>
                            <p>A fun way to display photos that matches the room or area it is in.&nbsp;</p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </a></div>
    </div>










    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
        (function($) {
            $("#searchbar").on('keyup', function(e) {
                var $this = $(this);
                var exp = new RegExp($this.val(), 'i');
                $(".items-container li label").each(function() {
                    var $self = $(this);
                    if (!exp.test($self.text())) {
                        if ($self.find("input")[0].checked) {
                            $self.parent().show();
                        } else {
                            $self.parent().hide();
                        }
                    } else {
                        $self.parent().show();
                    }
                });
            });
        })(jQuery);

    </script>

    <footer class="footer-distributed">

        <div class="footer-right">

            <a href="https://www.facebook.com/Diyhubio-103009288142495/"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/diyhubofficial"><i class="fa fa-twitter"></i></a>
            <a href="https://www.instagram.com/diyhub.io/"><i class="fa fa-instagram"></i></a>
            <a href="https://github.com/benthestudent/DIYHub"><i class="fa fa-github"></i></a>

        </div>

        <div class="footer-left">

            <p class="footer-links">
                <a class="link-1" href="/dev">Search</a>

                <a href="/dev/discovery">Discover</a>

                <a href="/dev/create">Create</a>

                <a href="/dev/about">About</a>

                <a href="/dev/contact">Contact</a>
            </p>

            <p>diyhub.io &copy; 2020</p>
        </div>

    </footer>
</body>

</html>
