{% extends 'hub/base.html' %}
{% load static %}
{% block header %}
	 <title>Log In</title>
	<link href="{% static 'login.css' %}" rel="stylesheet">

{% endblock %}
{% block content %}
<div class="login-page">
  <div class="form">
	  <img src="{% static 'img/logo.png' %}" alt="logo">
    <form class="register-form" action="" method="post">
      <input type="text" placeholder="username" name="username" id="register-username" class="valid"/>
      <input type="password" placeholder="password" name="password" id="register-password" class="valid"/>
      <input type="text" placeholder="email address" name="email" id="register-email" class="valid"/>
      <button type="button" id="create-account-button">create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
        {% csrf_token %}
    </form>
    <form class="login-form" action="" method="POST">
      <input type="text" placeholder="email" name="email" class="valid"/>
      <input type="password" placeholder="password" name="password" class="valid"/>
      <button type="submit">login</button>
      <p class="message">Not registered? <a href="#">Create an account</a></p>
        {% csrf_token %}
    </form>
  </div>
<div class="validation-error invisible">
        Please Enter Valid Information.
    <ul>
        <li>Usernames must be greater than 3 characters.</li>
        <li>Passwords must be longer than 6 characters and contain a special character.</li>
    </ul>
    </div>
</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="../js/popper.min.js"></script> 
	<script src="../js/bootstrap-4.4.1.js"></script>
	  <script>
	  $('.message a').click(function(){
   $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
});
	  </script>
{% endblock %}