<!DOCTYPE html>
<html style="color: black;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Test</title>
    <meta name="" content="">
    <link rel="icon" type="image/png" sizes="1080x1080" href="assets/img/DiyHub%20(3).png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.5.0/slate/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/Carousel-Hero.css">
    <link rel="stylesheet" href="assets/css/Dark-NavBar-1.css">
    <link rel="stylesheet" href="assets/css/Dark-NavBar-2.css">
    <link rel="stylesheet" href="assets/css/Dark-NavBar.css">
    <link rel="stylesheet" href="assets/css/Drag--Drop-Upload-Form-1.css">
    <link rel="stylesheet" href="assets/css/Drag--Drop-Upload-Form.css">
    <link rel="stylesheet" href="assets/css/quill.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body style="background-color: #1b262c;">
    <div class="carousel slide" data-ride="carousel" data-interval="false" id="carousel-1">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active" style="height: 100vh;">
                <div class="dashed_upload"><div class="wrapper">
  <div class="drop">
    <div class="cont">
      <i class="fa fa-cloud-upload"></i>
      <div class="tit">
        Drag & Drop
      </div>
      <div class="desc">
        or 
      </div>
      <div class="browse">
        click here to browse
      </div>
    </div>
    <output id="list"></output><input id="files" multiple name="files[]" type="file" />
  </div>
</div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script src="js/index.js"></script></div>
            </div>
            <div class="carousel-item" style="height: 100vh;">
                <div class="form-group d-flex flex-column justify-content-center align-items-center align-content-center" style="height: 90vh;max-height: 100vh;overflow: auto;"><input class="border rounded d-md-flex align-items-md-center form-control" type="text" style="width: 70%;font-family: Montserrat, sans-serif;margin-bottom: 2%;font-weight: bold;" placeholder="Project Title" autofocus="">
                    <div class="container-fluid"
                        style="width: 70%;color: black;height: 50vh;">
                        <div class="row">
                            <div class="col-md-12" style="padding: 0;">
                                <div>
                                    <h1 style="color: rgb(255,255,255);font-family: Montserrat, sans-serif;font-size: 18px;font-weight: bold;">Description</h1>
                                </div>
                                <div class="text-white" id="toolbar"></div>
                                <div id="editor"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="height: 100vh;">
                <div class="d-flex flex-column justify-content-center align-items-center" style="height: 100vh;width: 100%;">
                    <div class="border rounded" style="width: 70%;background-color: white;padding: 10px;margin-bottom: 4%;">
                        <p style="font-size: 18px;font-family: Montserrat, sans-serif;color: black;font-weight: 700;margin: 0;">Difficulty</p>
                        <div class="btn-group d-inline-flex align-items-center justify-content-sm-center" role="group" style="width: 100%;height: 15vh;background-color: white;padding: 10px;filter: blur(0px) hue-rotate(0deg) saturate(99%);"><button class="btn border rounded" type="button" style="background-color: #2BFF52;margin-right: 13px;height: 100%;"></button><button class="btn border rounded" type="button" style="height: 100%;margin-right: 10px;background-color: #96FF90;"></button>
                            <button
                                class="btn border rounded" type="button" style="height: 100%;margin-right: 10px;background-color: #FFFF44;"></button><button class="btn border rounded" type="button" style="height: 100%;margin-right: 10px;color: #FE7F2F;background-color: #FE7F2F;"></button><button class="btn border rounded" type="button" style="height: 100%;background-color: #FE2F2F;"></button></div>
                    </div>
                    <div class="border rounded" style="width: 70%;min-height: 15vh;padding: 1%;background-color: white;color: black;">
                        <p style="font-family: Montserrat, sans-serif;font-size: 18px;font-weight: bold;margin-bottom: 1.5%;">Supplies</p>
                        <div class="border rounded border-primary d-inline-flex align-items-sm-center" style="width: 100%;padding: 1%;border-color: #575757;"><input class="border rounded border-secondary" type="text" style="width: 10%;margin-right: 1%;padding: 5px;" placeholder="Quantity"><input class="border rounded border-secondary" type="text" style="width: 80%;margin-right: 1%;padding: 5px;"
                                placeholder="Search for a part..."><i class="fa fa-search" style="color: #000000;"></i><i class="fas fa-plus-circle" style="margin-left: 3%;cursor: pointer;"></i></div>
                        <hr style="color: black;background-color: black;">
                        <p class="text-center" style="font-family: Montserrat, sans-serif;color: black;">No Parts Added</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="height: 100vh;">
                <div class="form-group d-flex d-sm-flex flex-column justify-content-center align-items-center align-content-center justify-content-sm-start align-items-sm-center" style="height: 100vh;overflow: auto;margin-top: 0;padding-top: 5%;padding-bottom: 5%;">
                    <p style="font-size: 30px;font-weight: bold;color: white;font-family: Montserrat, sans-serif;">Steps</p><input class="border rounded d-md-flex align-items-md-center form-control" type="text" style="width: 70%;font-family: Montserrat, sans-serif;margin-bottom: 2%;font-weight: bold;" placeholder="Name of Step" autofocus="">
                    <div
                        class="container-fluid" style="width: 70%;color: black;">
                        <div class="row">
                            <div class="col-md-12" style="padding: 0;">
                                <div>
                                    <h1 style="color: rgb(255,255,255);font-family: Montserrat, sans-serif;font-size: 18px;font-weight: bold;">Step Description</h1>
                                </div>
                                <div class="text-white" id="toolbar"></div>
                                <div id="editor-1" style="height: 30vh;overflow: auto;"></div>
                            </div>
                        </div>
                </div><button class="btn" type="button" style="position: fixed;bottom: 10%;background-color: #BFBFBF;font-family: 'Open Sans', sans-serif;font-weight: bold;color: #444444;">Add Step</button></div>
        </div>
        <div class="carousel-item" style="height: 100vh;">
            <div class="d-flex flex-column justify-content-center justify-content-sm-center align-items-sm-center" style="height: 100vh;">
                <div class="btn-group" role="group" style="width: 50%;"><button class="btn" type="button" style="color: white;background-color: #008a00;margin-right: 20%;border-radius: 5px;font-family: 'Open Sans', sans-serif;font-weight: bold;font-size: 18px;">Save</button><button class="btn border-dark"
                        type="button" style="color: white;background-color: #e60000;border-color: #e60000;border-radius: 5px;font-family: 'Open Sans', sans-serif;font-weight: bold;font-size: 18px;">Publish</button></div>
            </div>
        </div>
    </div>
    <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><span class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next"><span class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a></div>
    <ol
        class="carousel-indicators">
        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-1" data-slide-to="1"></li>
        <li data-target="#carousel-1" data-slide-to="2"></li>
        <li data-target="#carousel-1" data-slide-to="3"></li>
        <li data-target="#carousel-1" data-slide-to="4"></li>
        </ol>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>
        <script src="assets/js/Quill-Text-Editor.js"></script>
</body>

</html>