

<!DOCTYPE html>
<html>
<head>
    <script data-ad-client="ca-pub-1604942099557430" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <link rel="stylesheet" href="../../static/reset.css" type="text/css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Hind+Siliguri&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/static/js/script.js.pagespeed.jm.p8ZHUkciA8.js"></script>
    <link href="/static/img/diyhub__2__UHr_icon.ico" rel="icon" type="image/x-icon"/>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:700, 400|Montserrat:400, 700|Nunito+Sans:800, 400&display=swap" rel="stylesheet">
    
    <meta charset="utf-8">
    <meta name="userID" content="2">
	<link href="../../static/profile.css" rel="stylesheet">
	<link href="../../static/base.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/js/profileWithGarage.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <title>Profile</title>

</head>
<body>


    <script type="text/javascript"></script>

<div class="header">
<img id="logo" src="../../static/img/DiyHub (2).png" alt="Logo">
  <a href="/dev"><h1>diy<strong>hub.io</strong></h1> beta</a>

		<nav class="navigation">
  <ul>
    <li><a href="/dev"><span id="search" class="inactive">Search</span></a></li>
    <li><a href="/dev/create"><span id="create" class="inactive">Create</span></a></li>
    <li><a href="/dev/discovery"><span id="discover" class="inactive">Discover</span></a></li>
  </ul>
	</nav>
    <script></script>
	<div class="account">
        
            <a href="/dev/profile">
            <div class="profile">
                elijahl123
                <div class="profile-image">
                    <img src="../../static/img/img_avatar.png" alt="Profile Picture">
                </div>
            </div>
            </a>
            <button id="log-out"><a href="/dev/logout">Log Out</a></button>
        
	</div>
</div>
	


	<main>
	<div class="info-container">
		<div class="image-and-name">
			<div class="container-profile-picture">
	<img src="../../static/img/img_avatar.png" alt="Profile Picture">
				<div class="overlay-profile"><button><i class="fa fa-edit"></i></button></div>
			</div>
		<h1>elijahl123</h1>
		</div>
			<button class="tablink" onclick="openPage('Account', this, 'white')" id="defaultOpen">Account</button>
		<button class="tablink" onclick="openPage('Projects', this, 'white')">Projects</button>
			<button class="tablink" onclick="openPage('Upvoted-Projects', this, 'white')">Upvoted Projects</button>
		<button class="tablink" onclick="openPage('Garage', this, 'white')">Garage</button>
	</div>
	<div id="Account" class="tabcontent">
        <form method="post" action="">
            <h3><strong>Email:</strong> <span id="email">elijah.kane.1972@gmail.com</span> <button id="edit" type="button"><i class="fa fa-edit"></i></button></h3>
            <h3><strong>First Name:</strong>
                
                    <span id="fname">Elijah</span> <button id="edit" type="button"><i class="fa fa-edit"></i></button>
                
            </h3>
            <h3><strong>Last Name:</strong>
                
                    <span id="lname">Lopez</span> <button id="edit" type="button"><i class="fa fa-edit"></i></button>
                
            </h3>
            <h3><strong>Phone Number:</strong>
                
                    <span id="phone">2094930224</span> <button id="edit" type="button"><i class="fa fa-edit"></i></button>
                
            </h3>
            <h3><strong>Bio:</strong>
                
                    <button id="editBio" type="button"><i class="fa fa-edit"></i></button></h3><p><span id="bio">Co-Founder, diyhub.io</span></p>
                
            <button type="button" id="change-password" name="changePassword">Change Password</button>
            
        <input type="hidden" name="csrfmiddlewaretoken" value="DzTSNBTbcD8XEiBxSMur2VGvFcj8n31J59IOr9JuJmCV1TEq3ndZwQqVi8SCQgfM">
        </form>
</div>

<div id="Projects" class="tabcontent">

  
      <div class="grid">
  

      

  
      </div>
  

</div>

<div id="Upvoted-Projects" class="tabcontent">
    
      <div class="grid-upvoted">
  

  
      </div>
  
		
</div>

<div id="Garage" class="tabcontent">
    
    <div class="garage-list">
		<h1>Category</h1>
		<hr>
	<ul>
		<li>
			<h4>Item 1</h4><button><i class="fa fa-minus-circle"></i></button>
		</li>
		<li>
			<h4>Item 2</h4><button><i class="fa fa-minus-circle"></i></button>
		</li>
		<li>
			<h4>Item 3</h4><button><i class="fa fa-minus-circle"></i></button>
		</li>
		</ul>
      </div>
  
		
</div>

		<script language="javascript">function openPage(pageName,elmnt,color){var i,tabcontent,tablinks;tabcontent=document.getElementsByClassName("tabcontent");for(i=0;i<tabcontent.length;i++){tabcontent[i].style.display="none";}tablinks=document.getElementsByClassName("tablink");for(i=0;i<tablinks.length;i++){tablinks[i].style.backgroundColor="";}document.getElementById(pageName).style.display="flex";}document.getElementById("defaultOpen").click();</script>
	</main>
	

    <footer class="footer-distributed">

            <div class="footer-right">

                <a href="https://www.facebook.com/Diyhubio-103009288142495/"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/diyhubofficial"><i class="fa fa-twitter"></i></a>
                <a href="https://www.instagram.com/diyhub.io/"><i class="fa fa-instagram"></i></a>
                <a href="https://github.com/benthestudent/DIYHub"><i class="fa fa-github"></i></a>

            </div>

            <div class="footer-left">

                <p class="footer-links">
                    <a class="link-1" href="/dev">Search</a>

                    <a href="/dev/discovery">Discover</a>

                    <a href="/dev/create">Create</a>

                    <a href="/dev/about">About</a>

                    <a href="/dev/contact">Contact</a>
                </p>

                <p>diyhub.io &copy; 2020</p>
            </div>

        </footer>
</body>
</html>