<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>DiyHub</title>
    <meta name="twitter:image" content="assets/img/DiyHub%20(3).png">
    <meta property="og:image" content="assets/img/DiyHub%20(3).png">
    <meta name="description" content="Search for fun DIY projects using what you already have at home!">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="icon" type="image/png" sizes="1080x1080" href="../assets/img/DiyHub (3).png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../Static/profilePage.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:700, 400|Montserrat:400, 700|Nunito+Sans:800, 400&display=swap" rel="stylesheet">
</head>

<body class="justify-content-center align-items-center" style="background-color: #1b262c;">
    <div class="profile-card" style="height: 100vh;overflow: auto;">
        <div class="profile-back" style="background-color: #1b262c;"></div><img class="rounded-circle profile-pic" src="https://www.w3schools.com/howto/img_avatar.png">
        <h3 class="text-uppercase border-primary profile-name" style="font-family: 'Open Sans', sans-serif;background-color: #0b3a63;border-color: #1b262c;padding: 2%;">elijahl123</h3>
        <p class="profile-bio" style="font-family: Montserrat, sans-serif;color: white;padding: 10px 5%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer elementum aliquet ante, non faucibus justo pulvinar sit amet. Aliquam tempor elit ac fringilla pulvinar. Curabitur eleifend, orci ac sagittis sagittis, felis ligula convallis risus,
            eget scelerisque ligula velit in lorem. Etiam sit amet vestibulum arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam mattis tortor in est lacinia eleifend. Nam vel diam ante. Integer nec nulla pharetra, dictum massa
            nec, tincidunt mauris. Nunc pulvinar, ante sed ultricies consequat, felis nunc mollis felis, mollis eleifend est magna eu justo. Aenean ut egestas nibh. Phasellus hendrerit mauris tincidunt urna placerat aliquam. </p>
        <ul class="visible social-list">
            <li> <i class="fa fa-facebook-official" style="background-color: white;color: #1b262c;"></i></li>
            <li> <i class="fa fa-twitter-square" style="background-color: white;color: #1b262c;"></i></li>
            <li> <i class="fa fa-linkedin-square" style="background-color: white;color: #1b262c;"></i></li>
        </ul>
    </div>
    <div class="d-flex flex-column align-items-sm-center">
        <h1 style="color: white;font-family: Montserrat, sans-serif;padding: 3%;">Projects</h1>
    </div>

    	<div class="grid">
  <div class="sort-bar">
		<i class="fa fa-filter"></i>
	  <button><i class="fa fa-heart"></i><i class="fa fa-sort"></i></button>
	  <button><i class="fa fa-eye"></i><i class="fa fa-sort"></i></button>
		</div>
  <div class="module">
	  <div class="container-grid">
	  <img src="../Static/ProjectImage.png" alt="ProjectImage">
	  <div class="overlay" style="background-color: #FE2F2F">
		  <h1>Header</h1>
		  <p>This is a project description. This paragraph tag will display what the project is about.</p>
		  </div>
	  </div>
		</div>
  <div class="module">
	  <div class="container-grid">
	  <img src="../Static/stepImage.png" alt="ProjectImage">
	  <div class="overlay" style="background-color: #FE7F2F">
		  <h1>Header</h1>
		  <p>This is a project description. This paragraph tag will display what the project is about.</p>
		  </div>
		</div>
		  </div>
  <div class="module">
	  <div class="container-grid">
	  <img src="../Static/ProjectImage.png" alt="ProjectImage">
	  <div class="overlay" style="background-color: #969600">
		  <h1>Header</h1>
		  <p>This is a project description. This paragraph tag will display what the project is about.</p>
		  </div>
		</div>
		  </div>
  <div class="module">
	  <div class="container-grid">
	  <img src="../Static/ProjectImage.png" alt="ProjectImage">
	  <div class="overlay" style="background-color: #0AC000">
		  <h1>Header</h1>
		  <p>This is a project description. This paragraph tag will display what the project is about.</p>
		  </div>
		</div>
		  </div>
  <div class="module">
	  <div class="container-grid">
	  <img src="../Static/ProjectImage.png" alt="ProjectImage">
	  <div class="overlay" style="background-color: #006E14">
		  <h1>Header</h1>
		  <p>This is a project description. This paragraph tag will display what the project is about.</p>
		  </div>
		</div>
		  </div>
  <div class="module">
	  <div class="container-grid">
	  <img src="../Static/ProjectImage.png" alt="ProjectImage">
	  <div class="overlay"  style="">
		  <h1>Header</h1>
		  <p>This is a project description. This paragraph tag will display what the project is about.</p>
		  </div>
		</div>
		  </div>
  <div class="module">
	  <div class="container-grid">
	  <img src="../Static/ProjectImage.png" alt="ProjectImage">
	  <div class="overlay"  style="">
		  <h1>Header</h1>
		  <p>This is a project description. This paragraph tag will display what the project is about.</p>
		  </div>
		</div>
		  </div>
  <div class="module">
	  <div class="container-grid">
	  <img src="../Static/ProjectImage.png" alt="ProjectImage">
	  <div class="overlay"  style="">
		  <h1>Header</h1>
		  <p>This is a project description. This paragraph tag will display what the project is about.</p>
		  </div>
		</div>
		  </div>
  <div class="module">
	  <div class="container-grid">
	  <img src="../Static/ProjectImage.png" alt="ProjectImage">
	  <div class="overlay"  style="">
		  <h1>Header</h1>
		  <p>This is a project description. This paragraph tag will display what the project is about.</p>
		  </div>
		</div>
		  </div>
  <div class="module">
	  <div class="container-grid">
	  <img src="../Static/ProjectImage.png" alt="ProjectImage">
	  <div class="overlay"  style="">
		  <h1>Header</h1>
		  <p>This is a project description. This paragraph tag will display what the project is about.</p>
		  </div>
		</div>
		  </div>
  <div class="module">
	  <div class="container-grid">
	  <img src="../Static/ProjectImage.png" alt="ProjectImage">
	  <div class="overlay"  style="">
		  <h1>Header</h1>
		  <p>This is a project description. This paragraph tag will display what the project is about.</p>
		  </div>
		</div>
		  </div>
  <div class="module">
	  <div class="container-grid">
	  <img src="../Static/ProjectImage.png" alt="ProjectImage">
	  <div class="overlay"  style="">
		  <h1>Header</h1>
		  <p>This is a project description. This paragraph tag will display what the project is about.</p>
		  </div>
		</div>
		  </div>
  <div class="module">
	  <div class="container-grid">
	  <img src="../Static/ProjectImage.png" alt="ProjectImage">
	  <div class="overlay"  style="">
		  <h1>Header</h1>
		  <p>This is a project description. This paragraph tag will display what the project is about.</p>
		  </div>
		</div>
		  </div>
  <div class="module">
	  <div class="container-grid">
	  <img src="../Static/ProjectImage.png" alt="ProjectImage">
	  <div class="overlay"  style="">
		  <h1>Header</h1>
		  <p>This is a project description. This paragraph tag will display what the project is about.</p>
		  </div>
		</div>
		  </div>
  <div class="module">
	  <div class="container-grid">
	  <img src="../Static/ProjectImage.png" alt="ProjectImage">
	  <div class="overlay"  style="">
		  <h1>Header</h1>
		  <p>This is a project description. This paragraph tag will display what the project is about.</p>
		  </div>
		</div>
		  </div>
</div>
	
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>