{% extends 'hub/base.html' %}
{% load static %}
{% load return_array %}
{% block header %}
    <meta charset="utf-8">
	<link href="{% static 'profile.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/profile.js' %}"></script>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <title>Profile</title>
{% endblock %}
{% block content %}


	<main>
	<div class="info-container">
		<div class="image-and-name">
			<div class="container-profile-picture">
                {% if user and user.img %}
                    <img id="profileImg" src="{% static '' %}{{ user.img }}" alt="Profile Picture">
                {% else %}
                    <img id="profileImg" src="{% static 'img/img_avatar.png' %}">
                {% endif %}
				<div class="overlay-profile"><input accept="image/*" id="profile_files" multiple name="profile_files[]" type="file" name="choose-file" style="position: absolute; opacity: 0; width: 100%; height: 100%" /><label for="choose-file"><i class="fa fa-edit"></i></label>
			</div></div>
		<h1>{{ user.username }}</h1>
		</div>
			<button class="tablink" onclick="openPage('Account', this, 'white')" id="defaultOpen">Account</button>
		<button class="tablink" onclick="openPage('Projects', this, 'white')">Projects</button>
			<button class="tablink" onclick="openPage('Upvoted-Projects', this, 'white')">Upvoted Projects</button>
	    <button class="tablink" onclick="openPage('Garage', this, 'white')">Garage</button>
    </div>
	<div id="Account" class="tabcontent">
        <form method="post" action="">
        <form method="post" action="">
            <h3><strong>Email:</strong> <span id="email">{{ user.email }}</span> <button id="edit" type="button"><i class="fa fa-edit"></i></button></h3>
            <h3><strong>First Name:</strong>
                {% if user.firstn is None %}
                    <input name="fname" id="fname" type="text">
                {% else %}
                    <span id="fname">{{ user.firstn }}</span> <button id="edit" type="button"><i class="fa fa-edit"></i></button>
                {% endif %}
            </h3>
            <h3><strong>Last Name:</strong>
                {% if user.lastn is None %}
                    <input name="lname" id="lname" type="text">
                {% else %}
                    <span id="lname">{{ user.lastn }}</span> <button id="edit" type="button"><i class="fa fa-edit"></i></button>
                {% endif %}
            </h3>
            <h3><strong>Phone Number:</strong>
                {% if user.phone is None %}
                    <input name="phone" id="phone" type="text">
                {% else %}
                    <span id="phone">{{ user.phone }}</span> <button id="edit" type="button"><i class="fa fa-edit"></i></button>
                {% endif %}
            </h3>
            <h3><strong>Bio:</strong>
                {% if user.bio is None %}
                    <br><textarea name="bio" id="bio" rows="3"></textarea><br>
                {% else %}
                    <button id="editBio" type="button"><i class="fa fa-edit"></i></button></h3><p><span id="bio">{{ user.bio }}</span></p>
                {% endif %}
            <button type="button" id="change-password" name="changePassword">Change Password</button>
            {% if user.firstn is None or user.lastn is None or user.bio is None or user.phone is None %}
            <br><button id="saveProfile">Save</button>
            {% endif %}
        {% csrf_token %}
        </form>
</div>

<div id="Projects" class="tabcontent">

  {% if projects %}
      <div class="grid">
  {% for project in projects %}

      <div class="module">
	  <div class="container-grid">
        {% if "http" in project.url %}
            <a href="{% url 'external_project' %}?url={{ project.url }}">

        {% elif project.url %}
          {% if project.published == 1 %}
              <a href="{% url 'project' project.url %}">
          {% else %}
              <a href="{% url 'createProject' project.url %}">
          {% endif %}
        {% endif %}

          <img src="{% static '' %}{{ project.imgPath }}" alt="ProjectImage" onerror="this.onerror=null;this.src='{% static 'img/ProjectImage.png' %}';">
          <div class="overlay">
              <h1>{{ project.name }}</h1>
              {% if project.published == 1 and project.id >= 1%}
              <a class="edit-button" href="{% url 'createProject' project.id %}">Edit</a>
              {% endif %}
          </div>
      </a>
	  </div>
    </div>

  {% endfor %}
      </div>
  {% else %}
      <a href="{% url 'createProject' %}"><button id="createProject">Create Project</button></a>
  {% endif %}

</div>

<div id="Upvoted-Projects" class="tabcontent">
    {% if upvotedProjects %}
      <div class="grid-upvoted">
  {% for project in upvotedProjects %}
         {% if "http" in project.url %}
            <a href="{% url 'external_project' %}?url={{ project.url }}">

        {% elif project.url %}
              <a href="{% url 'project' project.url %}">
        {% endif %}
      <div class="module-upvoted">
	  <div class="container-grid">
          <img src="{% static '' %}{{ project.imgPath }}" alt="ProjectImage" onerror="this.onerror=null;this.src='https://s3-us-west-2.amazonaws.com/diyhub.io/ProjectImage.png';">
          <div class="overlay">
              <h1>{{ project.name }}</h1>
              <p>{{ project.shortDesc }}</p>
          </div>
	  </div>
    </div>
      </a>
  {% endfor %}
      </div>
  {% else %}
      <h4>No Upvoted Projects</h4>
  {% endif %}
		
</div>

<div id="Garage" class="tabcontent">
        <div class="garage-list">
        {% if user.garage %}
            {% for category in user.garage %}

                    <h1>{{ category }}</h1>
                    <hr>
                    <ul>
                    {% for part in user.garage|return_array:category %}

                        <li>
                                 <h4>{{ part }}</h4><button class="removePart"><i class="fa fa-minus-circle"></i></button>
                         </li>
                    {% endfor %}
                    </ul>

            {% endfor %}
        {% else %}
            <h4 style="text-align: center; margin:auto">Your Garage is Empty. Check parts and supplies on the search page to add Parts to your garage.</h4>
        {% endif %}
        </div>


</div>

</div>
		<script language="javascript">
	
	function openPage(pageName, elmnt, color) {
  // Hide all elements with class="tabcontent" by default */
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Remove the background color of all tablinks/buttons
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].style.backgroundColor = "";
  }

  // Show the specific tab content
  document.getElementById(pageName).style.display = "flex";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
	</script>
	</main>
	
{% endblock %}
