{% extends 'hub/base.html' %}
{% load static %}
{% block header %}
    <meta charset="utf-8">
	<link href="{% static 'profile.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/profile.js' %}"></script>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <title>Profile</title>
{% endblock %}
{% block content %}


	<main>
	<div class="info-container">
		<div class="image-and-name">
	<img src="{% static 'img/img_avatar.png' %}" alt="Profile Picture">
		<h1>{{ user.username }}</h1>
		</div>
			<button class="tablink" onclick="openPage('Account', this, 'white')" id="defaultOpen">Account</button>
		<button class="tablink" onclick="openPage('Projects', this, 'white')">Projects</button>
			<button class="tablink" onclick="openPage('Upvoted-Projects', this, 'white')">Upvoted Projects</button>
	</div>
	<div id="Account" class="tabcontent">
        <form method="post" action="">
            <h3><strong>Email:</strong> <span id="email">{{ user.email }}</span> <button id="edit" type="button"><i class="fa fa-edit"></i></button></h3>
            <h3><strong>First Name:</strong>
                {% if user.firstn is None %}
                    <input name="fname" id="fname" type="text">
                {% else %}
                    <span id="fname">{{ user.firstn }}</span> <button id="edit" type="button"><i class="fa fa-edit"></i></button>
                {% endif %}
            </h3>
            <h3><strong>Last Name:</strong>
                {% if user.lastn is None %}
                    <input name="lname" id="lname" type="text">
                {% else %}
                    <span id="lname">{{ user.lastn }}</span> <button id="edit" type="button"><i class="fa fa-edit"></i></button>
                {% endif %}
            </h3>
            <h3><strong>Phone Number:</strong>
                {% if user.phone is None %}
                    <input name="phone" id="phone" type="text">
                {% else %}
                    <span id="phone">{{ user.phone }}</span> <button id="edit" type="button"><i class="fa fa-edit"></i></button>
                {% endif %}
            </h3>
            <h3><strong>Bio:</strong>
                {% if user.bio is None %}
                    <br><textarea name="bio" id="bio" rows="3"></textarea><br>
                {% else %}
                    <button id="editBio" type="button"><i class="fa fa-edit"></i></button></h3><p><span id="bio">{{ user.bio }}</span></p>
                {% endif %}
            <button type="button" id="change-password" name="changePassword">Change Password</button>
            {% if user.firstn is None or user.lastn is None or user.bio is None or user.phone is None %}
            <br><button id="saveProfile">Save</button>
            {% endif %}
        {% csrf_token %}
        </form>
</div>

<div id="Projects" class="tabcontent">

  {% if projects %}
      <div class="grid">
  {% for project in projects %}

      <div class="module">
	  <div class="container-grid">
            {% if "https" in project.url %}
          <a href="{{ project.url }}">
      {% else %}
          <a href="project/{{ project.url }}">
          {% if project.published == 1 %}
              <a href="project/{{ project.url }}">
          {% else %}
              <a href="create/{{ project.url }}">
          {% endif %}
      {% endif %}

          <img src="{% static '' %}{{ project.imgPath }}" alt="ProjectImage" onerror="this.onerror=null;this.src='{% static 'img/ProjectImage.png' %}';">
          <div class="overlay">
              <h1>{{ project.name }}</h1>
              <p>{{ project.desc | safe }}</p>
              {% if project.published == 1 %}
              <a class="edit-button" href="create/{{ project.url }}">Edit</a>
              {% endif %}
          </div>
      </a>
	  </div>
    </div>

  {% endfor %}
      </div>
  {% else %}
      <button id="createProject"><a href="{% url 'createProject' %}">Create Project</a></button>
  {% endif %}

</div>

<div id="Upvoted-Projects" class="tabcontent">
    {% if upvotedProjects %}
      <div class="grid-upvoted">
  {% for project in upvotedProjects %}
      <a href="project/{{ project.url }}">
      <div class="module-upvoted">
	  <div class="container-grid">
          <img src="{% static '' %}{{ project.imgPath }}" alt="ProjectImage">
          <div class="overlay">
              <h1>{{ project.name }}</h1>
              <p>{{ project.desc }}</p>
          </div>
	  </div>
    </div>
      </a>
  {% endfor %}
      </div>
  {% else %}
      <h4>No Upvoted Projects</h4>
  {% endif %}
		
</div>



</div>
		<script language="javascript">
	
	function openPage(pageName, elmnt, color) {
  // Hide all elements with class="tabcontent" by default */
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Remove the background color of all tablinks/buttons
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].style.backgroundColor = "";
  }

  // Show the specific tab content
  document.getElementById(pageName).style.display = "flex";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
	</script>
	</main>
	
{% endblock %}
