{% extends 'hub/base.html' %}
{% load static %}
{% block header %}
	 <title>{{ projectName }}</title>
	<link href="{% static 'project.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600, 400|Montserrat:400, 700|Nunito+Sans:800, 400&display=swap" rel="stylesheet">
    <meta name="projectID" content="{{ projectID }}">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="body">
	<div class="main">
		<div class="information-container">
			<div class="project-image">
				<img src="{% static '' %}{{ imgPath }}" alt="project image" onerror="this.onerror=null;this.src='{% static '/img/ProjectImage.png' %}';">
			</div>
			<h1>{{ projectName }}</h1>
			<div class="username">
				<div class="username-image">
					<img src="{% static 'img/img_avatar.png' %}" alt="Profile Picture">
				</div>
			<a href="{% url 'profile' author %}">{{ author }}</a>
				<span>{{ views }} <i class="fa fa-eye"></i> <span id="projectUpvoteCounter">{{ upvotes }}</span> <i class="fa fa-thumbs-up"></i></span>
		</div>
				<p>{{ desc | safe }}</p>
		</div>
		<div class="supplies">
			<h2>Supplies Needed:</h2>
			<hr>
			<ul>
                {% for item in parts %}
                    <li><span>{{ item }}</span><button>Find</button></li>
                {% endfor %}
			</ul>
		</div>
        {% if external_url %}
            <a class="project-link" href="{{ external_url }}"><h1>Go to the Project</h1></a>
        {% else %}
		<div class="steps-container">
			{{ steps | safe}}
		</div>
        {% endif %}
		<div class="upvote-tag">
			<div class="tag">
				<p>Posted {{ dateCreated }} by <a href="{% url 'profile' author %}">{{ author }}</a> in <a>{{ category }}</a></p>
			</div>

            {% if upvoted %}
                <button id="projectUpvote" style="background-color: #037F8C; border-color: #037F8C" >Upvoted</button>
            {% else %}
                <button id="projectUpvote" style="">Upvote</button>
            {% endif %}

				<button onclick="addComment()">Comment</button>
		</div>
	</div>
	<div class="comments">
			<h1>Comments</h1>
			<hr>
            <div class="comments-container">
                {% for comment in comments %}
                <div class="comment-container">
                    <div>
                        <div class="profile">
                            <div class="comment-image">
                                <img src="{% static 'img/img_avatar.png' %}" alt="Profile Picture">
                            </div>
                            <a href="{% url 'profile' comment.user %}">{{ comment.user }}</a>
                        </div>

                        <p>{{ comment.body }}</p>
                    </div>
                    <div class="comment-upvote">
                        <span><data value="{{ comment.commentID }}"></data><span id="commentUpvoteCounter">{{ comment.upvotes }}</span> <i class="fa fa-thumbs-up"></i>
                            {% if comment.upvoted %}
                                <button id="commentUpvote" style="background-color: #037F8C; border-color: #037F8C" >Upvoted</button>
                            {% else %}
                                <button id="commentUpvote" style="">Upvote</button>
                            {% endif %}
                        </span>
                        <button onclick="addComment(this, reply=true)">Reply</button>
                    </div>
                    <div class="reply">
                        {% for reply in comment.replies %}
                            <div class="comment-container">
                            <div>
                                <div class="profile">
                                    <div class="comment-image">
                                        <img src="{% static 'img/img_avatar.png' %}" alt="Profile Picture">
                                    </div>
                                    <a href="{% url 'profile' reply.user %}">{{ reply.user }}</a>
                                </div>

                                <p>{{ reply.body }}</p>
                            </div>
                            <div class="comment-upvote">
                                <span><data value="{{ reply.commentID }}"></data><span id="commentUpvoteCounter">{{ reply.upvotes }}</span> <i class="fa fa-thumbs-up"></i>
                                    {% if reply.upvoted %}
                                        <button id="commentUpvote" style="background-color: #037F8C; border-color: #037F8C" >Upvoted</button>
                                    {% else %}
                                        <button id="commentUpvote" style="">Upvote</button>
                                    {% endif %}
                                </span>
{#                                <button onclick="addComment(this, reply=true)">Reply</button>#}
                            </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
	</div>
</div>
<script>
function addComment(element, reply=false) {
        var commentForm = "<div class=\"comment-container comment-creator\">\n" +
            "\t\t\t\t<div>\n" +
            "                    <br>\n" +
            "                    <textarea id=\"commentInput\" rows=\"2\"></textarea>\n" +
            "\t\t\t\t</div>\n" +
            "\t\t\t\t<div class=\"comment-upvote\">\n";

        if (reply){
            commentForm += "\t\t\t\t\t<button id=\"replyButton\">Reply</button>\n" +
            "\t\t\t\t</div>\n" +
            "\t\t\t</div>";
            $(element).parent().parent().find(".reply").append(commentForm);
        }else {
            commentForm += "\t\t\t\t\t<button id=\"comment\">Comment</button>\n" +
            "\t\t\t\t</div>\n" +
            "\t\t\t</div>";
            $(".comments-container").prepend(commentForm);
        }
}
</script>
{% endblock %}