{% extends 'hub/base.html' %}
{% load static %}
{% block header %}
<title>Reset Password</title>
<link href="{% static 'forgotPassword.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}

<div class="forgot-password">
  <div class="form">
      {% if validlink %}
	  <i class="fa fa-lock fa-4x"></i>
    <form class="login-form" action="{% url 'resetPassword_confirm' uidb64=uid token=token%}" method="post">
		<p>New Password:</p>
        <input type="password" name="newPassword" id="register-password" placeholder=""/>
        <p>Confirm New Password:</p>
      <input type="password" name="newPassword2" id="reset-password-confirm" placeholder=""/>
      <button type="button" id="reset-pass-button">reset</button>
    {% csrf_token %}
    </form>
      {% else %}
         <p>
          The password reset link was invalid, possibly because it has already been used.
          Please request a new password reset.
        </p>
      {% endif %}
  </div>
<div class="validation-error invisible">
        Please Enter Valid Information.
    <ul>
        <li>Passwords must be longer than 6 characters and contain a special character.</li>
        <li>Passwords must match</li>
    </ul>
    </div>
</div>

{% endblock %}