{% extends 'hub/base.html' %}
{% load static %}
{% block header %}
<title>Reset Password</title>
<link href="{% static 'forgotPassword.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}

<div class="forgot-password">
  <div class="form">
	  <i class="fa fa-lock fa-4x"></i>
    <form class="login-form">
		<p>New Password:</p>
        <input type="password" name="newPassword" placeholder=""/>
        <p>Confirm New Password:</p>
      <input type="password" name="newPassword2" placeholder=""/>
      <button>reset</button>
    </form>
  </div>
</div>

{% endblock %}